name: Example Workflow
on:
  issues:
    types: [opened, reopened, edited]
  pull_request:
    types: [opened, reopened, edited]
  issue_comment:
    types: [created, edited]
  pull_request_review_comment:
    types: [created, edited]
permissions:
  issues: write
  pull-requests: write
jobs:
  add-reaction:
    runs-on: ubuntu-latest
    steps:
      - name: Add eyes reaction
        uses: pelikhan/action-add-reaction@main
